name: Test Image Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test Image Build
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-node@v6
        id: node
        with:
          node-version: 24.x
          cache: 'yarn'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        id: buildx
        with:
          install: true
      - run: yarn install --immutable
      - run: yarn build
      - run: DOCKER_BUILDKIT=1 docker build -f "./build/Dockerfile" .
